.Timer {
  padding: 20px 0;
}

.Timer p {
  margin: 0;
  font-size: 40px;
}

.resultButton {
  margin: 15px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 100px;
  outline: none;
  background: #b71540;
  color: white;
  cursor: pointer;
  padding: 15px;
  
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 5px 2px 0px rgba(34, 60, 80, 0.2);
}

.resultButton:active {
  background: #610d23;
  width: 75px;
  height: 75px;
}